@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
    color: #6440FB;
}
.secondary-color{
    color: #00FF84;
}
.btn-primary-color-full{
    background-color: #00FF84;
    border: 2px solid #00FF84;
}

.btn-primary-color-full:hover{
    background-color: transparent;
    border: 2px solid #00FF84;
    color: #00FF84;
}